// Here you can add other styles
.app-header .nav-item .nav-link > .img-avatar, .app-header .nav-item .avatar.nav-link > img {
  margin: 0 20px;
}

.sidebar .sidebar-nav, .sidebar .nav-item {
  background-color: $white;
  color: #73818f;
  border-bottom: 1px solid $light;
}

.sidebar .nav-item a {
  color: #73818f;
}

.sidebar .nav-item a:hover {
  background-color: $light;
  color: $dark;
}

.sidebar .nav-item a:hover .nav-icon:not(:hover) {
  color: $dark;
}

.sidebar .nav-link.active {
  background: $blue;
}

.sidebar .nav-link.active .nav-icon {
  color: white;
}

button.sidebar-minimizer{
  background-color: white !important;
}

.sidebar-minimizer::before{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%2373818f' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E") !important;
}

.sidebar-minimizer:hover::before{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%2373818' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E") !important;
}

div.scrollbar-container.sidebar-nav.ps{
  border-bottom: 0px;
}

a:not([href]):not([tabindex]) {
  color: $blue;
  cursor: pointer;
}

.card, .list-group {
  margin-top: 20px;
}

.new-message {
  margin-top: 20px;
  float: right;
}

.contact-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.filter-btn {
  float: right;
}

.input-success, .input-success:focus {
  border-color: $success
}

.list-group-item-heading {
  margin-top: 15px;
}